@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Petit+Formal+Script&family=Petrona&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  font-weight: 400;
}

html {
  --font-scripty: 'Petit Formal Script', cursive;
  --font-body: 'Petrona', serif;
  --font-heading: 'DM Serif Display', serif;

  --clr-white: #fff;
  --clr-blue-medium: #8BC5FA;

  --clr-beige-light: #F1EDE1;
  --clr-beige-medium: #E8E2CD;
  --clr-beige-dark: #817038;
  --clr-beige-light-translucent: #f1ede1cc;

  --shadow-subtle: 0px 0px 30px #00000026;
}

body {
  margin: 0;
  font-family: var(--font-body);
  color: var(--clr-beige-dark);
}

.linethrough {
  display: flex;
  align-items: center;
  width: 100%;

  > {
    .linethrough__content {
      flex: 1 0 auto;
      padding: 0 3rem;
    }

    :first-child, :last-child {
      background-color: var(--clr-beige-dark);
      flex: 1 1 100%;
      height: 1px;
    }
  }
}
